/*Black: #1f1f1f*/
/*Orange: #f58d42*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background: #1f1f1f;
  box-sizing: border-box;
}

.container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container ul li {
  margin: 15px;
  padding: 15px;
  list-style: none;
}

.container ul li:hover {
  background: #f58d42;
  border-radius: 5px;
  cursor: pointer;
}

.container ul li a {
  color: #fff;
  font-size: 20px;
  font-family: Lato, sans-serif;
  text-decoration: none;
}

.active {
  background: #f58d42;
  border-radius: 5px;
  cursor: pointer;
}


























